 <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class=="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About us</h1>
        
        <div class="row">
          
          <div class="col-md-6 col-12 hero-text mt-4">
          <figure>
             <img src="images/about.svg" alt="herosection_image">
          </figure>
        </div>

        <div class="col-md-6 col-12 hero-text d-flex justify-content-center flex-column ">
          <h1 class="text-center sub-heading">We collect materials and provide you at very low cost</h1>
        </div>
      </div>
     </div>
    </div>
</div>
